{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="{% static 'milk/favicon.ico' %}">   
  <link rel="stylesheet" href="{% static 'milk/style.css' %}">
  <style>
    .container {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    .column {
      width: 50%;
      padding: 2rem;
      background-color: purple;
      text-align: center;
    }
    .btn {
      margin: 3rem;
    }
    .icon {
      font-size: 8rem;
      margin: 3rem;
    }
  </style>
</head>

<body>
    <audio id="player">
      Your browser does not support the audio element.
    </audio>
    <h1 class="elite">DEADMILK FARMS.</h1>
  <div class="container">
    <div class="column">
    {% for sound in odd_sounds %}
      <button
	  class="btn"
	  data-song={{ sound.file.url }}>
	<h1 class="icon">&#{{ sound.emoji }}</h1>
      </button>
    {% endfor %}
    </div>
    <div class="column">
    {% for sound in even_sounds %}
      <button
	  class="btn"
	  data-song={{ sound.file.url }}>
	<h1 class="icon">&#{{ sound.emoji }}</h1>
      </button>
    {% endfor %}
    </div>

  </div>
</body>
<script>
  const audioElement = document.getElementById("player");
  const play_song = (song) => {
    audioElement.src = song;
    audioElement.load()
    audioElement.play()
  }
  const buttons = document.querySelectorAll('button');
  buttons.forEach(button => {
    button.onclick = function() {
      let s = event.currentTarget.getAttribute("data-song");
      play_song(s);
  }});
</script>

</html>

