{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="{% static 'milk/favicon.ico' %}">   
  <link rel="stylesheet" href="{% static 'milk/style.css' %}">
</head>

<body>
  <div class="">

    this sounds good!
    <audio id="asdf">
	<source src="{% static 'milk/sounds/sleigh-bells-suspense.wav' %}" type="audio/wav">
	<source src="{% static 'milk/sounds/correct-answer.wav' %}" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
    <button data-song=0>
      <p class="elite">DEADMILK FARMS.</p>
    </button>
    <button data-song=1>
      <p class="elite">DEADMILK FARMS.</p>
    </button>
  </div>
</body>
<script>
  const audioElement = document.getElementById("asdf");
  const sources = audioElement.querySelectorAll('source');
//  sources.forEach(source => {
//      console.log(source.src); // Logs each source URL
//  }); 
  const play_song = (num) => {
    // this can be done w/o the source element!!!
    audioElement.src = sources[num].src;
    audioElement.load()
    audioElement.play()
  }
  const buttons = document.querySelectorAll('button');
  buttons.forEach(button => {
    button.onclick = function() {
      console.log(event.target.getAttribute("data-song"));
      play_song(event.target.getAttribute("data-song"));
  }});

  //document.getElementById("asdf").setAttribute("src", "new-audio-file.mp3");   
</script>

</html>

